/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
ul{
    list-style-type: none;
    
}

.wrapper{
    background-color: lightgreen;
    height: 100vh;
    overflow: hidden;
}

/* Main */
.container{
    min-width: 950px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    
}

/* Columns */
.contact-col{
    width: 30%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
   
}

.message-col{
    width: 70%;
    background-color: bisque;
    
}

/* Column-header*/
.contact-col-top{
    background-color: whitesmoke;
    border-right: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;

}

.message-col-top{
    background-color: coral;

}

/* Column-header-contenr */
.image-container{
    display: flex;
    align-items: center;
}

.image-container img{
    width: 40px;
    border-radius: 50%;

}

.icons{
    display: flex;
    align-items: center;
}

.icons div{
    padding-right: 10px ;
    color: lightgrey;
}

/* Notification */
.notification{
    background-color:cornflowerblue;
    height: 60px;
    padding: 10px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.notification a{
    color: black
}

.notification-text{
    margin-left: 10px;
}


.bell{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: cornflowerblue;;
}

/* Search-input */
.search-input{
    background-color: white;
    height: 30px;
    padding-left: 15px;
    
    
}

.search-input input{
    padding: 5px 10px;
    width: 250px;
    border: transparent;
}

/*Contacts-members  */
.contacts-members img{
    width: 40px;
    border-radius: 50%;
}

.contact-name{
    vertical-align: top;
    padding-left: 10px;
}

.list-contact{
    padding: 10px;
}

.list-contact li{
    margin-bottom: 10px;
}

/* Chat-content  */
.chat-content{
    background-image: url(../img/mine.jpg);
}

/* Input-message */
.input-message{
    background-color: coral;

}




